# Visual Studio & .NET default ignore list
.vs/
bin/
obj/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.sln.docstates
*.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Project specific
debug_log.txt
*.log

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac junk
.DS_Store

# Publish folder (just in case)
**/publish/

# Installer artifacts
installer/output/

